.body {

    background-color: #E9D5DA;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 750px;
}

.login {
    width: 30%;
    margin: auto;
    margin-top: 8%;
    padding: 40px;

    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
}

.email {
    padding: 20px 20px;
    margin-top: 10px;
}

.email h2 {
    text-align: center;
    /* font-family:'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 20px;
}

.loginButton {
    margin: 0 60px;
    text-align: center;
}

.login-button {
    margin: 0 20px;
    font-size: large;
    padding: 8px 30px;
    border: none;
    background-color: #4D4C7D;
    color: whitesmoke;
    border-radius: 7px;
}

.login-button :hover {
    background-color: black;
}

Button:hover {
    background-color: #363062;
    color: white;
}

p {
    text-align: center;
    margin: 30px 0 60px 0;
}

a {
    width: auto;
}