.container-css{
    width:100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
    background-color: #E9D5DA ;
}   

.icon{
    text-align: center;
    padding-top: 10px;
    size:100px;
    padding-bottom: 20%;
    font-size:xx-large;
}

.body-description{
    font-size: 30px;
    width: 70%;
    margin: 30px;
    text-align: centjer; 
    line-height: 1.4;
    font-weight: 350;
    font-family : Arial, Helvetica, sans-serif
}
h1{
    font-size: 100px;
    font-weight: 550;
    text-align:center ;
    color: #3F3351;
    padding-bottom: 30px;
    font-family: "Sofia", sans-serif;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}
.home-button{
    margin: 0 20px;
    background-color: #4D4C7D;
    color: whitesmoke;
    font-size: large;
    padding: 12px 30px;
    border:none;
    border-radius: 6px;
}
.home-button:hover{
    background-color: #363062;
    color: white;
}
