<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<div class="container-css">
  <div>
    <mat-icon class="icon">public</mat-icon>
  </div>
  <div class="title" >
    <h1>DoConnect</h1>
    <p class="body-description"><b>DoConnect is a popular Questions and Answers form in which technical questions are
        asked and
        answered.</b></p>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
      <button class="home-button" type="submit">
        join our community
      </button>
    </a>
  </div>