.holder{
	background-color: #E9D5DA;
	min-height: 750px;
  font-family: 'Raleway', sans-serif;

}

.logout-button{
    margin: 0 20px;
    font-size: large;
    padding: 12px 30px;
    border:none;

    background-color: #4D4C7D;
    color: whitesmoke;
    border-radius: 7px;
}
.logout-button:hover{
    background-color: #363062;
    color: white;
}
.q-button{
    margin: 0 20px;
    font-size: large;
    padding: 12px 30px;
    border-radius: 15px;
    border:none;

    background-color: #4D4C7D;
    color: whitesmoke;
    border-radius: 7px;
}
.q-button:hover{
  background-color: #363062;
  color: white;
}
.sub-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  width: 100%;

  /* background-color: aqua; */
}
.page-heading{
  font-size: 29px;
  text-align: center;
  width:40%;
  font-weight: 600;
  font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 25px;
  /* position:relative; */
}
.chat{
  width: 20%;
}

