<div class="holder">
  <div class="sub-nav">
    <div class=" chat ">
      <button routerLink="/chat" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn q-button"
      role="button">
        Chat
      </button>
    </div>
    <div class="page-heading">
      Welcome {{ user.name }}

    </div>
    <span class="log-out">
      <a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn q-button"
        role="button">
        Search here
      </a>
      <a routerLink="/ask-question" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button class="btn q-button" id="ask">Ask Question</button>
      </a>
      <button class="btn logout-button" (click)="userLogout(user.id)" type="button">LogOut</button>
    </span>
  </div>
  <hr>

  <hr>
  <app-all-questions></app-all-questions>
  <br />

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <app-chat></app-chat>
    </div>
  </div>
</div>