.body {
    /* background-color: rgb(250, 250, 250); */
    background-color: #E9D5DA;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 750px;
    margin-bottom: 10px;
}

.askQuestion {

    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 60px 100px;

    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
}

h3 {
    text-align: center;
    font-size: 25px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 600;
    color: rgb(75, 75, 101);
}

.padding {
    padding: 15px 0;
}

.askQuestionButton {
    margin: 0 60px;
    text-align: center;
}

/* Button:hover {
    background-color: rgb(74, 74, 237);
} */

.ask-button {
    margin: 0 20px;
    font-size: large;
    padding: 12px 30px;
    border: none;

    background-color: #4D4C7D;
    color: whitesmoke;
    border-radius: 7px;
}

.ask-button:hover {
    background-color: #363062;
    color: white;
}