<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <span>
      <mat-icon class="icon" text-center>token</mat-icon><a class="navbar-brand" href="">DoConnect</a>
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      
      <!--- search content method for testing purpose-->

      <!-- <div class="input-group flex-nowrap w-25 p-1">

        <input type="search" class="form-control" placeholder="Search here" #search
          (keyup.enter)="getValue(search.value)" aria-label="Search" aria-describedby="addon-wrapping" />
      </div> -->

      <ul class="nav navbar-nav navbar-right">
        <!-- <li>
          <a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="btn me-2 my-2 nav-buttons" role="button">
            Search here
          </a>
        </li> -->
        
        <li *ngIf="user.id == 0">
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="btn me-2 my-2 nav-buttons" role="button">
            Log in
          </a>
        </li>

        <li *ngIf="user.id == 0">
          <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="btn me-2 my-2 nav-buttons" role="button">
            Sign up
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="container" *ngIf="isSearched">
  <table class="table table-striped">
    <tr>
      <th>Question</th>
      <th>Posted By</th>
      <th>Topic</th>
      <th>Get Answer</th>
    </tr>

    <tr *ngFor="let question of questions">
      <td>{{ question.question }}</td>
      <td>{{ question.user.name }}</td>
      <td>{{ question.topic }}</td>
      <td>
        <button class="btn btn-outline-success" id="{{ question.id }}" (click)="sendQuestionToGetAnswer(question.id)">
          Get Answers
        </button>
      </td>
    </tr>
  </table>
</div> -->