.icon{
    color:white;
}


.navbar-brand{
    padding-left: 3px;
    font-weight :500;
}
.navbar{
    background-color: #363062;

}
.nav-buttons{
    padding-left:20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
    background-color: #4D4C7D;
    color: white;
    font-weight: 400;
    border: none;
}
.nav-buttons:hover{
    background-color: #363062;
    color: white;
    border: none;
}