<div class="input-group flex-nowrap w-25 p-1">

    <input type="search" class="form-control" placeholder="Search here" #search (keyup.enter)="getValue(search.value)"
        aria-label="Search" aria-describedby="addon-wrapping" />
</div>

<br>
<br>

<div class="container" *ngIf="isSearched">
    <table class="table table-striped">

        <!-- <tr>
            <th>Question</th>
            <th>Posted By</th>
            <th>Topic</th>
            <th>Get Answer</th>
        </tr>

        <tr *ngFor="let question of questions">
            <td>{{ question.question }}</td>
            <td>{{ question.user.name }}</td>
            <td>{{ question.topic }}</td>
            <td>
                <button class="btn btn-outline-success" id="{{ question.id }}"
                    (click)="sendQuestionToGetAnswer(question.id)">
                    Get Answers
                </button>
            </td>
        </tr> -->

        <thead class="thead-dark">
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Posted By</th>
                <th scope="col">Topic</th>
                <th scope="col">Get Answer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of questions">
                <td>{{ question.question }}</td>
                <td>{{ question.user.name }}</td>
                <td>{{ question.topic }}</td>
                <td>
                    <button class="btn btn-outline-success" id="{{ question.id }}"
                        (click)="sendQuestionToGetAnswer(question.id)">
                        Get Answers
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
</div>




<!-- <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Posted By</th>
            <th scope="col">Topic</th>
            <th scope="col">Get Answer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let question of questions">
            <td>{{ question.question }}</td>
            <td>{{ question.user.name }}</td>
            <td>{{ question.topic }}</td>
            <td>
                <button class="btn btn-outline-success" id="{{ question.id }}"
                    (click)="sendQuestionToGetAnswer(question.id)">
                    Get Answers
                </button>
            </td>
        </tr>
    </tbody>
</table> -->