<div class="body">
  <div class="login">
    <form ngNativeValidate #userlogin="ngForm" (ngSubmit)="userLogin(userlogin.value)">
      <div class="email">
        <label for="login" class="container">
          <h2>Login</h2>
        </label><br />
        <label for="exampleInputEmail1" class="form-label">Email </label>
        <input ngModel name="email" type="email" class="form-control" placeholder="abc@gmail.com"
          id="exampleInputEmail1" aria-describedby="emailHelp" required />
        <br />
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input ngModel name="password" type="password" class="form-control" id="exampleInputPassword1" required />
      </div>
      <div class="loginButton">
        <button type="submit" class="btn login-button">Login</button>
      </div>
    </form>
    <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
      <p>New to DoConnect? Register here.</p>
    </a>
    <a routerLink="/admin-login" routerLinkActive="active" ariaCurrentWhenActive="page">
      <p>If you are our admin, Login here</p>
    </a>
  </div>
  <!-- <li>
    <a
      routerLink="/admin-login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <p>If you are our admin, Login here</p> 
    </a>
  </li> -->
</div>