.body {
    /* background-color: rgb(250, 250, 250); */
    /* background-color: #A27B5C; */
    background-color: #E9D5DA;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 750px;
}

.login {
    /* background-color: white; */
    width: 30%;
    margin: auto;
    /* border: 1px solid rgb(188, 171, 171); */
    margin-top: 50px;

    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
}

h2 {
    font-size: 40px;
}

.email {
    padding: 40px 60px;
    margin-top: 10px;
}

.email h2 {
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 20px;
}

.loginButton {
    margin: 0 60px;
    text-align: center;
}

.login-button {
    margin: 0 20px;
    font-size: large;
    background-color: #4D4C7D;
    color: whitesmoke;
    border-radius: 7px;
    padding: 10px 30px;
    border: none;
}

.login-button:hover {
    background-color: #363062;
    color: white;
}

p {
    color: #2C3639;
}

/* Button:hover {
    background-color: rgb(74, 74, 237);
} */

p {
    text-align: center;
    margin: 60px 0 60px 0;
}

P:hover {
    color: #363062;

}

a {
    width: auto;
}