.body{
    
    background-color: #E9D5DA;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 750px;
} 
.register {
    width: 30%;
    margin: auto;
    margin-top: 100px;
    padding: 40px;

    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
}

h2 {
    text-align: center;
  /*   font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 30px;
}

/* Button{
    color:black;
}

Button:hover {
    background-color:darkorange;
} */

.registerButton{
    text-align: center;
}
.register-button{
    margin: 0 20px;
    font-size: large;
    padding: 12px 30px;
    border:none;
    text-align: center;

    background-color: #4D4C7D;
    color: whitesmoke;
    border-radius: 7px;
}
.register-button :hover{
    background-color: #363062;
    color: white;
}

p {
    text-align: center;
    margin: 15px 0 10px 0;
}