.body{
    /* background-color: #ebe5d6; */
    background-color: #E9D5DA;
    font-family: 'Raleway', sans-serif;
    min-height: 750px;

}
.admin-button{
    margin: 0 20px;
    font-size: large;
    padding: 12px 30px;
    border:none;
    background-color: #4D4C7D;
    color: whitesmoke;
    border-radius: 7px;
    
}
.admin-button:hover{
    background-color: #363062;
    color: white;
} 
.holder{
	background-color: #ebe5d6;
	height: 90%;
    font-family: 'Raleway', sans-serif;
}
.sub-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    /* background-color: #ebe5d6; */
    background-color: #827397;
    color: #FAEDF0;
    /* background-color: aqua; */
  }
  .page-heading{
    font-size: 30px;
    text-align: center;
    width:90%;
    font-weight: 600;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
td{
    font-size: x-large;
}
th , td{
    /* width:24%; */
    border: 1px solid black;
    padding:5px 30px;
    font-size: 16px;
}