<br><br>
<h3 style="text-align: center">Welcome to Chat {{ user.name }}</h3>

<button
  class="accordion-button collapsed"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#collapseOne"
  aria-expanded="false"
  aria-controls="collapseOne"
  (click)="getMessage()"
>
  Join the Chat
</button>
<br>
<div class="container my-2" *ngFor="let message of messages">
  <mat-card class="card">
    <h3>{{ message.message }}</h3>
    <h5>{{ message.fromUser }}</h5>
  </mat-card>
</div>
<br>
<div class="container d-flex flex-row">
  <input
    type="search"
    class="form-control"
    placeholder="Enter message"
    #search
    (keyup.enter)="sendMessage(search.value)"
    aria-label="Search"
    aria-describedby="addon-wrapping"
  />
  <button class="btn me-1 btn-outline-primary" (click)="getMessage()">
    Refresh
  </button>
</div>
