.card {

  background: rgba(255, 255, 255, 0.441);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  color: #2c2754;
  margin: auto;
  width: 50%;
  border: none;
  border-radius: 8px;
}

h3 {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {
  color: #2c2754;
}
.collapsed {
  border-radius: 8px;
  margin: auto;
  width: 50%;
  background-color: #4D4C7D;
  color: aliceblue;
  border: none;

}

.flex-row {
  border-radius: 8px;
  margin: auto;
  width: 50%;
}

.btn-outline-primary {
  margin-left: 5px;
  background-color: #4D4C7D;
  color: whitesmoke;
  border: none;
  border-radius: 8px;
}