.body{
    /* background-color: rgb(250, 250, 250); */
    background-color: #E9D5DA;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 750px;
}

.register {
    /* background-color: white; */
    width: 30%;
    margin: auto;
    /* border: 1px solid rgb(188, 171, 171); */
    margin-top: 70px;
    padding: 40px;
    /* border-radius: 15px; */

    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
}

h2 {
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 30px;
    font-size: 40px;
}
button{
    margin: 30px 20px;
    font-size: large;
    padding: 6px 20px;
    border:none;
    background-color: #4D4C7D;
    color: whitesmoke;
    border-radius: 7px;
}
p{
    color: #2C3639 ;
}

.registerButton{
    text-align: center;
}

button:hover {
    background-color: #363062;
    color: white;
}

p {
    text-align: center;
    margin: 15px 0 10px 0;
}
P:hover{
    color: #363062
}
/* .btn login-button:hover{
    color:darkorange;
} */